aside {
    height: calc(100vh - 91px);
    width: 13%;

    border-right: 1px solid #000;

    color: $text-color-primary;
    font-family: map-get($map: $fonts, $key: font-1);

    .topListTitleContainer {
        width: 100%;
        padding: 5px;
        
        background: rgba(32, 33, 35, 1);

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__leftElement {
            width: calc(100% - 40px);
            height: 30px;
            padding-left: 10px;
            margin-right: 10px;

            display: flex;
            align-items: center;

            background: #3e4047;

            font-size: 12px;
            font-weight: 700;

            cursor: pointer;
        }

        &__rightElement {
            width: 30px;
            height: 30px;

            background: rgb(36, 37, 39);
            
            font-size: 20px;
            color: $text-color-secondary;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: .2s;

            cursor: pointer;

            &:hover {
                color: #fff;
                background: #3e4047;
            }
        }
    }
}
