nav {
    width: 100%;

    background: #1d2938;
    background: linear-gradient(180deg, rgba(29, 41, 56, 1) 0%, rgba(32, 33, 35, 1) 100%);

    padding: 6px;

    font-family: map-get($map: $fonts, $key: font-1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .supListLeft {
        display: flex;
        flex-direction: row;

        list-style: none;

        color: $text-color-secondary;

        font-size: 11px;
        font-weight: 500;

        &__element {
            margin: 0 10px;

            cursor: pointer;

            &:hover {
                color: $text-color-primary;
            }
        }
    }

    .supListRight {
        display: flex;
        flex-direction: row;

        list-style: none;

        color: $text-color-secondary;

        &__announcements {
            height: 24px;
            width: 29px;

            background: $color-blue;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            .fa-info {
                color: #fff;

                font-size: 10px;
            }
        }

        &__messages {
            height: 24px;
            width: 29px;

            margin-left: 8px;

            background: $bg-color-secondary;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            &:hover {
                background: $bg-color-hover;

                color: #fff;
            }

            .fa-message {
                color: &text-color-secondary;

                font-size: 10px;
            }
        }

        &__profile {
            height: 24px;

            margin-left: 8px;

            background: $bg-color-secondary;

            display: flex;
            align-items: center;

            cursor: pointer;

            &:hover {
                background: $bg-color-hover;
            }

            img {
                height: 24px;
            }

            &--nickname {
                font-size: 11px;
                font-weight: 500;

                margin: 0 10px;

                color: $br-color-blue;

                .fa-chevron-down {
                    font-size: 8px;
                    margin: 0 4px;
                }

                .balance {
                    color: $text-color-secondary;
                }
            }
        }

        &__icons {
            height: 24px;

            margin: 0 8px;

            display: flex;
            align-items: center;

            color: &text-color-secondary;

            .fa {
                cursor: pointer;

                &:hover {
                    color: #fff;
                }
            }

            .fa-expand {
                margin: 0 14px 0 11px;
            }

            .fa-window-minimize {
                font-size: 10px;
            }

            .fa-window-restore {
                margin: 0 10px;
                font-size: 10px;
            }
        }
    }
}

.nav {
    width: 100%;

    padding: 15px;

    background: #202123;

    color: #c5c5c5;

    font-family: map-get($map: $fonts, $key: font-1);

    .ListContainer {
        list-style: none;

        display: flex;
        align-items: center;

        font-size: 20px;

        &__arrows {
            margin: 0 20px 0 0;

            cursor: pointer;

            i {
                margin-right: 5px;
            }

            .fa-arrow-right {
                color: $text-color-secondary;
            }

            .fa-arrow-left {
                &:hover {
                    color: #fff;
                }
            }
        }

        &__element {
            margin: 0 20px 0 0;

            cursor: pointer;

            span {
                text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
            }

            &:hover {
                text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
            }
        }
    }
}