/*  variables  */
$text-color-primary: #ddd;
$text-color-secondary: #667377;

$color-blue: #3d92af;
$br-color-blue: #4db8db;

$bg-color-primary: rgba(32, 33, 35, 1);
$bg-color-secondary: #22364b;
$bg-color-hover: #314e6b;

$fonts: (
    font-1: "Arial"
);

/*  global  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  components  */
@import "_nav";
@import "_leftList";